main {
    background-color: white;
}

h1 {
    font-family: 'Abril Fatface';
    font-size: 68px;
    text-align: center;
    margin-bottom: 5px;
}

.landing_page_tag {
    font-family: 'Work Sans', sans-serif;
    font-size: 17px;
    text-align: center;
    margin-top: 5px;
    color: red;
}

::placeholder {
    font-family: 'Work Sans', sans-serif;
}

.login {
    width: 450px;
    height: 185px;
    margin: 0 auto;
    background-color: black;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
}

.auth_form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.username_pw_input {
    width: 300px;
    border-radius: 15px;
    margin: 10px 0px;
    padding: 5px;
    align-self: center;
}

.auth_btn {
    font-family: 'Work Sans', sans-serif;
    border-radius: 15px;
    width: 135px;
    margin: 5px 0px 5px 0px;
    align-self: center;
    padding: 5px;
}