.book-show {
    display: flex;
    flex-direction: column;
    padding: 40px 40px;
    
}

.image {
    width: 250px;
    margin: 10px;
}

@media screen and (min-width: 640px) {
    .image {
        width: 300px;
        margin: 5px;
    }
}

.add-book-btn {
    border-radius: 30px;
    width: 120px;
    border-width: thin;
    font-family: 'Work Sans', sans-serif;
    align-self: center;
    margin: 15px 0px;
}

p {
    color: #333333;
}