
.header_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
}

h2 {
    font-family: 'Abril Fatface', regular;
    font-size: 45px;
}

@media screen and (min-width: 640px) {
    h2 {
        padding: 20px;
    }
}