.nav_container {
    background-color: red;
}

.nav_style {
    display: flex;
    padding: 0 20px 10px 20px;
    justify-content: space-between;
}

@media screen and (min-width: 640px) {
    .nav_style {
        justify-content: flex-end
    }
}

.link_text_style {
    font-family: 'Abril Fatface', regular;
    font-size: 25px;
    list-style-type: none;
} 

@media screen and (min-width: 640px) {
    .link_text_style {
        padding-left: 20px;
    }
}

a:visited {
    color: #000 !important; 
}

.link_text_style:hover {
    color: red;
}

@media screen and (min-width: 640px) {
    .link_text_style  {
        font-family: 'Abril Fatface', regular;
        font-size: 25px;
        list-style-type: none;
        /* color: black; */
    }
}



/* #your-library {
    left: 100px;
    bottom: 35px;
} */



/* #add-new {
    left: 270px;
    bottom: 35px;
} */

/* @media screen and (min-width: 640px) {
    #add-new {
        bottom: 54px;
    }
} */

#navlink {
    text-decoration: none;
}

.pending {
    text-decoration: none !important;
}

.active {
    text-decoration: none !important; 
}