/* ::placeholder {
    font-family: 'Open Sans', regular;
} */

/* .search_bar_containter {
    
} */

.search-bar form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 20px;
   
}

.search_bar_input {
    border-radius: 30px;
    margin-right: 0;
}

.search_bar_btn {
    border-radius: 30px;
    flex: 3;
    margin-right: 10px;
    width: 135px;
    margin: 5px 0px 5px 0px;
}


